<%- layout('./layouts/boilerplate.ejs') %>
<div class="about">
    <div class="top-main">
        <h1>About Us</h1>
    </div>
    <div class="bottom-main">
        <div class="left-images">
            <img class="img-1" src="HD-wallpaper-food-burger-meat-still-life.jpg" alt="" />
            <img class="img-1" src="pexels-photo-1109197.jpeg" alt="" />

            <img class="img-1" src="photo-1567620905732-2d1ec7ab7445.avif" alt="" />
            <img class="img-1" src="photo-1593854823322-5a737e326b1c.avif" alt="" />
        </div>
        <div class="right-content">
            <h1><span>W</span>elcome to <span class="titleSpan1">C</span>hef<span class="titleSpan2">G</span>enie</h1>
            <p>
                Explore our diverse menu crafted with the finest ingredients sourced locally and globally. From comforting classics to bold,
                adventurous flavors, there's something to tantalize every palate. Whether you're craving a hearty brunch, a leisurely lunch, or an
                elegant dinner experience, our chef-driven creations promise to delight.
            </p>
            <button class="btn-primary">Read More</button>
        </div>
    </div>

    <div class="team">
        <h1>OUR <span>TEAM</span></h1>
        <div class="team-detail">
            <div class="profile-1">
                <div class="profile">
                    <img src="/team/mehboob-hasan.jpg" alt="" />
                    <div class="info">
                        <h2 class="name">Mahboob Hasan</h2>
                        <div class="icon">
                            <p class="bio">
                                <b></b
                                ><a
                                    target="_blank"
                                    href="https://www.linkedin.com/in/mahboob-hasan-24135319b/?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                                    ><i class="fa-brands fa-linkedin"></i
                                ></a>
                            </p>
                            <p class="bio">
                                <b></b
                                ><a target="_blank" href="https://www.instagram.com/mahboobhasan05/?next=%2Fmahboob1862%2F&hl=en"
                                    ><i class="fa-brands fa-square-instagram"></i
                                ></a>
                            </p>
                            <p class="bio">
                                <b></b><a target="_blank" href="https://github.com/Mahboob19"><i class="fa-brands fa-square-github"></i></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="profile-2">
                <div class="profile">
                    <img src="/team/yash-sharma.jpeg" alt="" />
                    <div class="info">
                        <h2 class="name">Yash Sharma</h2>
                        <div class="icon">
                            <p class="bio">
                                <b></b
                                ><a target="_blank" href="https://www.linkedin.com/in/yash-sharma-884825293/"
                                    ><i class="fa-brands fa-linkedin"></i
                                ></a>
                            </p>
                            <p class="bio">
                                <b></b
                                ><a target="_blank" href="https://www.instagram.com/yashsharma74658/"
                                    ><i class="fa-brands fa-square-instagram"></i
                                ></a>
                            </p>
                            <p class="bio">
                                <b></b><a target="_blank" href="https://github.com/codewithstack"><i class="fa-brands fa-square-github"></i></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile-3">
                <div class="profile">
                    <img src="/team/yash-mishra.jpg" alt="" />
                    <div class="info">
                        <h2 class="name">Yash Mishra</h2>
                        <div class="icon">
                            <p class="bio">
                                <b></b
                                ><a
                                    target="_blank"
                                    href="https://www.linkedin.com/in/yash-mishra-221a37293?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                                    ><i class="fa-brands fa-linkedin"></i
                                ></a>
                            </p>
                            <p class="bio">
                                <b></b
                                ><a target="_blank" href="https://www.instagram.com/yashmishra7916?igsh=MW41dnlobzR1dDhybg%3D%3D"
                                    ><i class="fa-brands fa-square-instagram"></i
                                ></a>
                            </p>
                            <p class="bio">
                                <b></b><a target="_blank" href="https://github.com/Yashmishra24"><i class="fa-brands fa-square-github"></i></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
