<%- layout('./layouts/boilerplate.ejs') %>
<div class="contact">
    <div class="top-main">
        <h1>Contact Us</h1>
    </div>
    <div class="bottom-main">
        <div class="bottom-main-image">
            <img src="a-phone-on-a-blue-background-with-contact-us.jpg" alt="" />
        </div>
        <div class="bottom-main-content">
            <b><h1>Chef Genie Food Application</h1></b><br />
            <p class="team-member">
                <b>Name:</b> Yash Sharma <br />
                <b>Email Id:</b> yashsharmatech100@gmail.com <br />
                <b>Phone No:</b> +91-8287274734
            </p>
            <p class="team-member">
                <b>Name:</b> Yash Mishra <br />
                <b>Email Id:</b> ym.mishra.9889@gmail.com <br />
                <b>Phone No:</b> +91-7302099889
            </p>
            <p class="team-member">
                <b>Name:</b> Mahboob Hasan <br />
                <b>Email Id:</b> mahboobhasan8770@gmail.com <br />
                <b>Phone No:</b> +91-6394603713
            </p>
        </div>
    </div>
</div>
