<%- layout('./layouts/boilerplate.ejs') %>
<div class="gallery">
    <div class="top-main">
        <h1>Gallery</h1>
    </div>
    <div class="heading">
        <img src="text-removebg-preview.png" alt="" />
    </div>
    <div class="bottom-main">
        <div class="container">
            <div class="row gallery-wrap ">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card">
                        <img class="card-img-top" src="53314156.jpg" alt="Card image cap" />
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card"><img class="card-img-top" src="plain-dosa.jpg" alt="Card image cap" /></div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card">
                        <img class="card-img-top" src="hawaiian-bbq-chicken-pizza-recipe-02-1200x1200-1.jpg" alt="Card image cap" />
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card">
                        <img class="card-img-top" src="honey-chilli.jpg" alt="Card image cap" />
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card">
                        <img class="card-img-top" src="idli-recipe.jpg.webp" alt="Card image cap" />
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card">
                        <img class="card-img-top" src="perfect-grilled-burgers.jpg" alt="Card image cap" />
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card">
                        <img class="card-img-top" src="hakka-noodles-recipe.jpg.webp" alt="Card image cap" />
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card">
                        <img class="card-img-top" src="veg-manchurian.jpg.webp" alt="Card image cap" />
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card">
                        <img class="card-img-top" src="Pav-Bhaji-Featured-1.jpg" alt="Card image cap" />
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card">
                        <img class="card-img-top" src="Jalebi.jpg" alt="Card image cap" />
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card">
                        <img class="card-img-top" src="Mumbai-Special-Vada-Pav-_-Featured-Image.jpg" alt="Card image cap" />
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card">
                        <img class="card-img-top" src="poha-recipe-featured.jpg" alt="Card image cap" />
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card">
                        <img class="card-img-top" src="rabri-rabdi-recipe.jpg.webp" alt="Card image cap" />
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card">
                        <img class="card-img-top" src="roshogolla.jpeg" alt="Card image cap" />
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card">
                        <img class="card-img-top" src="Veg-Cutlet-2-3.webp" alt="Card image cap" />
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card">
                        <img class="card-img-top" src="Bread-roll.jpg" alt="Card image cap" />
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card">
                        <img class="card-img-top" src="Gajar-Ka-Halwa-2-3.jpg" alt="Card image cap" />
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card">
                        <img class="card-img-top" src="Allo ghobhi.jpg" alt="Card image cap" />
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card">
                        <img class="card-img-top" src="Chilli-Paneer-featured.jpg" alt="Card image cap" />
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card">
                        <img class="card-img-top" src="North-Indian-Homestyle-Toor-Dal-2-3.jpg" alt="Card image cap" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
