<%- layout('./layouts/boilerplate.ejs') %>
    <div class="help">
        <div class="top-main">
            <h1>Help</h1>
        </div>
        <div class="bottom-main">
            <div class="bottom-main-image">
                <img src="360_F_538042699_HhRH23Ay7Otwj4hIrYuim6bM5vV3dfKk.jpg" alt="">
            </div>
            <div class="bottom-main-content">
                <h3>Frequently Asked Questions (FAQs)</h3>
                <ol>
                    <li><a href="#faq1">How do I Use this Website?</a></li>
                    <li><a href="#faq2">Is this Website is free?</a></li>
                </ol>
        <br>
                <h3 id="faq1">How do I Use this Website?</h3>
                <p>To Use this Website, follow these steps:
                    <ol>
                        <li>Log in to your account or sign up if you are a new user.</li>
                        <li>Type your Ingredients and find out your food on the basis of it.</li>
                        <li>Your must login for using this awesome functionality.</li>
                    </ol>
                </p>
        <br>
                <h3 id="faq2">Is this Website is free?</h3>
                <p><b>Version 1.0</b><br> It is an open source website and you can see recipes in it as per your content.</p>
    
            </div>
        </div>
    </div>
    