html,body{
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
    
}
.main-image{
    position: relative;
    background: url("chef-making-sauce.jpg") no-repeat center;
    background-size: cover;
    height: 550px;
    overflow: hidden;
}
.container
{
    position: absolute;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color:white;
    text-transform: uppercase;
    font-weight: 900;
}
.container h1{
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Lobster Two', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-size: 70px;
}
.container h1 {
    border: 5px solid white;
    padding: 10px 16px;
}
.para{
    margin:20px;
    display: block;
    font-size:26px;
}
.button{
    color:white;
    padding:8px 22px;
    font-size:22px;
    background-color: rgb(18, 170, 94);
    text-decoration: none;
    border: none;
    border-radius: 8px;
    transition: 0.3s;
}
.button:hover{
    background-color: rgba(18, 170, 94, 0.781);
}

.collapse ul{
    position: relative;
    justify-content: center;
    margin-right:20vw;
}
.collapse ul li{

    margin-left: 1vw;
}
.collapse ul li a{
    font-size: 18px;
    color:black;
    font-weight: 600;
    transition: 0.5s;
}
.collapse ul li a:hover{
    background-color: rgb(131, 226, 131);
    border-radius: 5px;
    width:auto;
}
.collapse ul li a i{
    margin-right:0.5rem;
}
.fa-plate-wheat{
    font-size: 2rem;
    margin-right:5px;
}
.main .navbar-brand{
    /* margin-bottom: 20px; */
    margin-top: 0;
    font-size: 33px;
    font-weight: 800;
}

@media (max-width:992px){
    body{
    overflow: hidden;
    }
    .main-image{
        background: none;
        background: url("img1.wallspic.com-food-meal-plant_based_diet-eating-personal_chef-1420x3000.jpg");
        background-size: cover;
        background-position: center;
        min-height: 100vh;
    }
    .container h1 {
        border: none;
    }
}
